ul {
  list-style: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 156px;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-link {
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
}

.modal-img {
  background-color: rgba(46, 47, 66, 0.8);
}
